<form id="employee" class="form-group" action="/employee" method="post">
  <label for="name">Enter employee:</label>
  <input id="name" name="name" type="text">
  <button type="submit" name="button">Click to enter employee</button>
</form>

<form id="division" class="form-group" action="/division" method="post">
  <label for="name">Enter a new division:</label>
  <input type="text" name="name">
  <button type="submit" name="button">Click here to add a division</button>
</form>

<form id="project" class="form-group" action="/project" method="post">
  <label for="name">Enter a new project:</label>
  <input type="text" name="name">
  <button type="submit" name="button">Click here to add a project</button>
</form>

<% if Employee.all().length > 0  %>
  <form id="employee" class="form-group" action="/employee" method="post">
    <input type="hidden" name="_method" value="delete">
    <% Employee.all().each do |employee|%>
      <label for="employee"><%= employee.name() %></label>
      <input type="checkbox" name="employee" value="<%= employee.id() %>"><br>
      <% end %>
    <button type="submit" name="button">Fire those assholes!!</button>
  </form>
<% end %>
